<!-- partial HTML -->
<div id="ov-shakh-sdvpn">
    <div class="button-panel">
        <div class="my-button" ng-click="dropRule()">
            Add Drop Rule
        </div>
    </div>

    <div>
        <a ng-repeat="host in hosts track by $index">
            <table>
                <tr>
                    <td>IP Address</td>
                    <td>{{host.ip}}</td>
                </tr>
                <tr>
                    <td>MAC Address</td>
                    <td>{{host.mac}}</td>
                </tr>
                <tr>
                    <td>Vlan</td>
                    <td>{{host.vlan}}</td>
                </tr>
            </table>
        </a>
    </div>

    <div class="data-panel">
        <form>
            <div class="row">
                <label for="src-host" class="col-md-4">
                    Source Host:
                </label>
                <input ng-model="srcHost" name="src-host" id="src-host" type="text" class="col-md-4">
            </div>
            <div class="row">
                <label for="dst-host" class="col-md-4">
                    Destination Host:
                </label>
                <input ng-model="dstHost" name="dst-host" id="dst-host" type="text" class="col-md-4">
            </div>
        </form>
    </div>
</div>
