<!-- partial HTML -->
<div id="ov-sample-custom">
    <div class="button-panel">
        <div class="my-button" ng-click="getData()">
            Fetch Data
        </div>
    </div>

    <div class="data-panel">
        <form>
            <div class="row">
                <label for="src-host" class="col-md-4">
                    Source Host:
                </label>
                <input name="src-host" id="src-host" type="text" class="col-md-4">
            </div>
            <div class="row">
                <label for="dst-host" class="col-md-4">
                    Destination Host:
                </label>
                <input name="dst-host" id="dst-host" type="text" class="col-md-4">
            </div>
        </form>
    </div>
</div>
